<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>視保眼科診所 瑞典娜主頁</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Le styles -->
        <link href="stylesheets/flick/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="stylesheets/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="stylesheets/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="stylesheets/jquery.mangabox.css" media="screen" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="nav" class="navbar navbar-inverse navbar-fixed-bottom" style="margin:0px;">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <a href="#0" id="back-top">回到頂端<span>&#8657;</span></a>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="height:980px;">
                <div id="welcome">
                </div>
                <div class="retina-unit">
                    <div class="hint-button animate-button" id="index-button" style="top:-20px;left:880px;"></div>
                    <div id="slideContainer">
                        <img src="images/airetina-postcard01.png" alt="前導燈塔">
                        <img src="images/airetina-postcard02.png" alt="宇宙獵人">
                        <img src="images/airetina-postcard03.png" alt="太空飛魚">
                    </div>
                    <!-- <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a> -->
                    <!-- <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a> -->
                    <div class="mangabook" id="illustrate" style="height:400px;display:none">
                        <div>
                            <div>
                                <img src="images/airetina-manual.png">
                            </div>
                            <div>
                                <p><span style="font-size:18px">各位親愛的旅客您好，歡迎搭乘本班眼球星艦。此趟航行由我<span style="color:#33cccc"><strong>瑞典娜</strong></span>為各位服務，並且帶領大家認識途中停靠的三個航空站：</span></p>

                                <p><span style="font-size:18px"><span style="color:#ff9999"><strong>前導燈塔</strong></span>、<span style="color:#ff9999"><strong>宇宙海豚</strong></span>，以及<span style="color:#ff9999"><strong>太空飛魚</strong></span>。</span></p>
                                
                                <p><span style="font-size:18px">在這過程中您可以增加對近視雷射手術的認識，並了解手術方式的差異性對眼睛的影響，讓您對手術流程更清楚更安心</span>。</p>
                                
                                <p><span style="font-size:18px">瑞典娜與視保眼科全體員工祝您　旅途平安</span></p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/airetina-comic01.png">
                            </div>
                            <div>
                                <p><span style="font-size:18px">大家好！我是<span style="color:#33cccc"><strong>瑞典娜</strong></span>，也有人叫我Retina。我出生於眼球星球，是眼球星球的公主。</span></p>

                                <p><span style="font-size:18px">眼球星球是存在於浩瀚宇宙中的一顆閃亮星球，星球上所需的能量來自居民眼睛的健康。</span></p>

                                <p><span style="font-size:18px">然而，近幾年來近視的人們越來越多，使得星球上的能量越來越少。眼球星球的人民們都相當著急，而我也感到非常擔憂...</span></p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/airetina-comic02.png">
                            </div>
                            <div>
                                <p><span style="font-size:18px">在所有人民的支持下，我為了拯救我們的星球，決定提起勇氣，出發尋找傳說中可以<strong>治療近視的彩虹橋</strong>。</span></p>

                                <p><span style="font-size:18px">就這樣，我的航行順利地持續了好幾光年，可是正當我以為自己可以安全到達目的地的時候，眼球星鑑卻突然發出警示聲響：</span></p>

                                <p><span style="font-size:18px">「警告！警告！能量過低！能量過低！」</span></p>

                                <p><span style="font-size:18px">由於情況緊急，我連忙將星鑑駛向最近的一顆星球，而這顆美麗的星球正是各位所居住的－<strong><span style="color:#ff9999">地球</span></strong>！</span></p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="images/airetina-comic03.png">
                            </div>
                            <div>
                                <p><span style="font-size:18px">幸好星艦剩餘的能量足夠讓我安全降落在地球上！更值得慶幸的是，一個叫NASA的組織在偵測到我的求救信號後，馬上前來救援，而且還願意協助維修眼球星艦。</span></p>

                                <p><span style="font-size:18px">在等待星艦維修的期間，我向當地的科學家說明了這次航行的目的，並且邀請地球的居民和我一起前往傳說中的彩虹橋，以表示我的謝意。</span></p>

                                <p><span style="font-size:18px">現在，就讓我們搭上眼球星鑑，一起前往神奇的彩虹橋吧！</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="start">
                    <a href="#1" style="background-image:url(images/airetina-button01.png);"></a>
                </div>
                <div class="line" style="background-image:url(images/airetina-line01.png);margin:0px auto;">
                </div>
            </div>
            <div class="row">
                <div class="mangabook">
                    <div>
                        <div> 
                            <img src="images/airetina-section01-title.png" />
                        </div>
                        <div>
                            <p><span style="font-size:18px">各位乘客您好，我是船長瑞典娜，很高興為您服務！</span></p>

                            <p><span style="font-size:18px">我們即將停靠的第一站是<strong>－<span style="color:#ff9999">前導燈塔</span></strong></span></p>

                            <p><span style="font-size:18px">為了眼睛的安全和治療效果，術前諮詢與檢查是非常重要的喔！而其中，前導波檢查是<span style="color:#33cccc"><strong>iLASIK</strong></span>客製化療程最初最重要的程序。</span></p>

                            <p><span style="font-size:18px">為什麼呢？</span></p>

                            <p><span style="font-size:18px">讓我們一起來挖掘前導波的祕密吧！</span></p>

                        </div>
                    </div>

                    <div>
                        <div> 
                            <img src="images/airetina-info-a00.png" />
                        </div>
                        <div> 
                            <p><strong><span style="font-size:18px">什麼是iLASIK？</span></strong></p>

            <p><span style="font-size:18px"><strong><span style="color:#33cccc">iLASIK&trade;</span></strong>為美國亞培AMO公司登記註冊的專有名稱，並榮獲<strong>美國NASA認可</strong>，使用的儀器全通過<strong>美國FDA核准</strong>。</span></p>

            <p>&nbsp;</p>

            <p><strong><span style="font-size:18px">iLASIK利用：</span></strong></p>

            <p><span style="font-size:18px">1）無刀飛秒雷射IntraLase<strong>&trade;</strong>來製作角膜瓣</span></p>

            <p><span style="font-size:18px">2）結合VISX的Advanced CustomVue<strong>&trade;</strong>高階客製化程式來消除度數</span></p>

            <p><span style="font-size:18px">是美國太空人、海豹特戰部隊，以及軍警人員也都安心接受的高階客製化近視雷射手術。</span></p>

            <p>&nbsp;</p>

            <p><strong><span style="font-size:18px">iLASIK的「i」代表：</span></strong></p>

            <p><span style="font-size:18px"><strong><span style="color:#33cccc">innovative</span></strong>：革新的技術</span></p>

            <p><span style="font-size:18px"><strong><span style="color:#33cccc">individualized</span></strong>：獨一無二性</span></p>

            <p><span style="font-size:18px"><strong><span style="color:#33cccc">incredible</span></strong>：不可思議的效果</span></p>

                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="images/airetina-info-b010203.png" />
                        </div>
                        <div>
                            <p><span style="font-size:18px">前導波是<strong>美國太空總署</strong>（NASA）<strong>開發的技術</strong>。主要是因為透過望遠鏡觀看星象時，經過大氣層及雲霧的折射，星象位置會出現一定程度的差異，為了修正偏差找到正確位置，所以利用前導波科技來修正。而這項技術<strong>後來被運用於雷射視力矯正術</strong>。</span></p>

                            <p><span style="font-size:18px">前導波技術為<strong>檢查眼睛像差</strong>之用，檢查的儀器稱為「<span style="color:#33cccc"><strong>波前像差儀</strong></span>」。它最大的功用是藉由波前技術對眼球屈光情形進行徹底檢測與分析，並且導引雷射光束對角膜做精確、個人化的治療，矯正屈光異常，改善高階與低階的像差問題，提升視力品質。</span></p>

                            <p><span style="font-size:18px">Lasik雷射視力矯正術可以像戴眼鏡或隱形眼鏡一樣，解決大多數人近視、遠視、散光的問題，而且效果令人滿意，但少數人術後還是會有夜視光暈與夜間眩光的困擾，為此，<strong>美國FDA在2003年核准通過有前導波的雷射視力矯正術</strong>，利用前導波來測出眼球的高、低階像差比例並給予矯正，就能獲得更清晰、色彩對比更佳的高畫質視覺享受，當然，也減少了夜視光暈與眩光的困擾。</span></p>

                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="images/airetina-info-b04.png" />
                        </div>
                        <div>
            <p><strong><span style="font-size:18px">什麼是像差？</span></strong></p>

            <p><span style="font-size:18px">當我們在看東西時，光線會進入眼睛，經過不同的光學介質包括角膜、前房、水晶體、玻璃體，最後投射在視網膜黃斑部上形成影像。如果光線經過完美的光學介質傳遞，最後形成單一焦點，影像就會清晰。</span></p>

            <p><span style="font-size:18px">但是每個人眼睛的光學介質都不會是完美無瑕，所以容易形成多個焦點，造成模糊影像、視覺不清晰，這種<strong>不清晰的模糊就是像差</strong>，又分為低階像差及高階像差，而相差的比例，每個人都不同。</span></p>

            <p><span style="font-size:18px"><span style="color:#33cccc"><strong>低階像差</strong></span>可以戴眼鏡和隱形眼鏡來矯正，是一般驗光儀器就可驗出的規則性度數，包括近視、遠視、散光，大約占整體像差比率的80%，屬於0到2階的像差。</span></p>

            <p><span style="font-size:18px">而<strong>夜視品質的關鍵 : <span style="color:#33cccc">高階像差</span></strong>，是無法用眼鏡和隱形眼鏡矯正的生理度數，必需用前導波才測得出來，每個人都有不同的比例，大約占整體像差比率20%，屬於3階以上的像差。</span></p>


                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="images/airetina-info-b05.png" />
                        </div>
                        <div>
                            <p><strong><span style="font-size:18px">傅立葉Fourier運算：圖像數據化</span></strong></p>

                            <p><span style="font-size:18px">傅立葉分析法是將前導波測出的高低階像差用函數來計算，在模擬夜間視力狀態下，透過瞳孔取得約240個Hartmann Shack點，計算分析、重建3D立體前導波像差圖，可以導引雷射屈光手術<strong>消除20階像差</strong>。</span></p>
                            
                            <p><span style="font-size:18px">過去的Zernike前導波運算只能消除6階像差。</span></p>
                            
                            <p><span style="font-size:18px">傅立葉前導波測量的<strong>精準度比一般驗光方式高25倍</strong>，可以測取眼睛屈光度數（近視、遠視、散光）及高階像差。</span></p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong><span style="font-size:18px">數據化導入雷射儀：量身打造</span></strong></p>
                            
                            <p><span style="font-size:18px">前導波像差分析儀擷取出的個人化高、低階像差圖經由傅立葉函數轉換出的參數，必須要導入VISX STAR S4 IR準分子雷射儀，才能稱作是量身打造。</span></p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong><span style="font-size:18px">簡單來說</span></strong></p>
                            
                            <p><span style="font-size:18px">前導波可以測出個人高低階像差比例，運用傅立葉函數計算出立體像差圖，並導引雷射屈光手術消除像差，減少術後夜視光暈與眩光，提升夜間視力品質。</span></p>             

                        </div>
                    </div>
                </div>
                <div class="next">
                    <a href="#2" style="background-image:url(images/airetina-button02.png);"></a>
                </div>
                <div class="line" style="background-image:url(images/airetina-line02.png);margin:0px auto;">
                </div>
            </div>
            <div class="row">
                <div class="mangabook">
                    <div>
                        <div>
                            <img src="images/airetina-section02-title.png" />
                        </div>
                        <div>
                            <p><span style="font-size:18px">各位乘客，我們即將抵達第二站－<span style="color:#ff9999"><strong>宇宙海豚</strong></span>！</span></p>

                            <p><span style="font-size:18px">請往您的左手邊欣賞</span></p>
                            
                            <p><span style="font-size:18px">牠們吹出來的可不是一般的泡泡喔！</span></p>
                            
                            <p><span style="font-size:18px">完成術前諮詢與檢查的相關步驟後，在近視雷射之前要怎麼樣才能安全、無痛、快速地做出客製化的角膜瓣呢？</span></p>
                            
                            <p><span style="font-size:18px">讓我帶您們看看<span style="color:#33cccc"><strong>飛秒無刀</strong></span>的厲害吧！</span></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="images/airetina-info-a01.png">
                        </div>
                        <div>
                            <p><span style="font-size:18px">飛秒無刀雷射全程由電腦操控，利用紅外雷射進行無熱效應的分子級光爆破。此技術可以用很低的能量，產生相當高的作用能量，過程中不會熱傳遞或產生衝擊波影響周邊組織，因此安全、無痛、快速、少乾眼、客製化、低併發症、無動刀壓力，適合高度近視或角膜較薄者。另外，由於使用的撐眼器較小，小眼睛的消費者也適用。</span></p>

                            <p>&nbsp;</p>
                            
                            <p><span style="font-size:18px">步驟1：用比頭髮直徑還要小的10微米雷射光點，在眼角<br />
                            <span style="margin-left:64px;">膜上打出平整的氣泡</span></span></p>
                            
                            <p><span style="font-size:18px">步驟2：將氣泡從點連成線，製造出平滑細緻的角膜瓣</span></p>
                            
                            <p><span style="font-size:18px">步驟3：層層累積交疊的氣泡使角膜瓣與角膜基質分離</span></p>
                            
                            <p><span style="font-size:18px">步驟4：施打雷射做邊角切割</span></p>
                            
                            <p><span style="font-size:18px">步驟5：角膜瓣製作完成</span></p>
                            
                            <p>&nbsp;</p>
                            
                            <p><span style="font-size:18px">飛秒無刀雷射可以製作出光滑、高品質、厚度均勻、個人化的角膜瓣，使近視雷射手術達到更安全、更客製化的效果</span></p>              

                        </div>
                    </div>

                </div>
                <div class="next">
                    <a href="#3" style="background-image:url(images/airetina-button03.png);"></a>
                </div>
                <div class="line" style="background-image:url(images/airetina-line03.png);margin:0px auto;">
                </div>
            </div>
            <div class="row" style="height:600px;">
                <div class="mangabook">
                    <div>
                        <div>
                            <img src="images/airetina-section03-title.png" />
                        </div>
                        <div>
            <p><span style="font-size:18px">哇～前兩站是不是都讓人流連忘返呢？</span></p>

            <p><span style="font-size:18px">各位旅客，</span></p>

            <p><span style="font-size:18px">我們即將進入這趟旅程最精彩的一站－<strong><span style="color:#ff9999">太空飛魚</span></strong>！</span></p>

            <p><span style="font-size:18px">雷射手術要打得快、精、準又安全，虹膜定位和V.S.S.、V.R.R.少不了！</span></p>

            <p><span style="font-size:18px">為什麼我會這樣說呢？</span></p>

            <p><span style="font-size:18px">參觀完這一站，您就會知道！</span></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="images/airetina-info-c01020304.png">
                        </div>
                        <div>
                            <p><span style="font-size:18px"><strong>虹膜辨識系統 Iris Recognition</strong></span></p>

                            <p><span style="font-size:18px">每個人的虹膜都是獨一無二的，甚至<strong>比指紋更獨特</strong>，虹膜辨識系統分析個人虹膜特徵將之做為<strong>定位標記</strong>。</span></p>
                            
                            <p><span style="font-size:18px"><strong>Active Trak 瞳孔中心自動定位系統</strong></span></p>
                            
                            <p><span style="font-size:18px">精準鎖定瞳孔中心點50微米範圍內，大約是一根人類頭髮的寬度，使雷射治療範圍與瞳孔自然狀態時的中心點，完全吻合。</span></p>
                            
                            <p><strong><span style="font-size:18px">360&deg;全方位眼球主動追蹤系統</span></strong></p>
                            
                            <p><span style="font-size:18px">運用紅外線攝影360&deg;追蹤眼球最細微的移動，能擷取99.4%的眼睛移動，即使眼球有些微顫動，儀器依然能鎖定與眼球相對位置不變，還可以追蹤我們手術時自然瞳孔的變化，更加確保手術的精準度。</span></p>             

                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="images/airetina-info-d0102.png">
                        </div>
                        <div>
            <p><span style="font-size:18px">美國AMO公司的虹膜定位準分子雷射儀，獲得美國FDA核准，它的效果及安全性之所以遠高於許多競爭者，是因為它擁有兩大先進功能：</span></p>

            <p><strong><span style="font-size:18px">智慧型飛點式大小光斑 V.S.S.</span></strong></p>

            <p><span style="font-size:18px">每個人的眼睛情況各不相同，對光斑大小的需求也不同，只有單純的大光斑或小光斑都不夠完美，就像是製作雕像，大鑿子可以刻出輪廓，但小鑿子可以連臉部細微的表情都雕琢出來。</span></p>

            <p><span style="font-size:18px">美國AMO VISX STAR S4 IR擁有0.65mm（超微光斑）至6.5mm（超廣範圍光斑）全自動智慧型光斑雷射系統：</span></p>

            <p><span style="font-size:18px">1）大光斑可以<strong>縮短治療時間</strong>，雷射切削效果更平滑。<br />
            2）小光斑可以<strong>細緻雕琢</strong>讓視力更清晰恢復速度更快。<br />
            3）直徑8.0mm的治療光學區，<strong>減少夜間眩光及光暈</strong>。</span></p>

            <p><span style="font-size:18px"><strong>自動變頻雷射擊發速率 V.R.R.</strong></span></p>

            <p><span style="font-size:18px">七道可調式大小雷射光束掃描，雷射施打速度及光斑大小，可由醫師為我們<strong>量身訂做</strong>，治療時間與切削角度完美搭配，相較於單純的飛點掃描雷射，可以大幅減</span><br />
            <span style="font-size:18px">少因角膜暴露在空氣中過於乾燥，進而影<br />
            響手術結果的情形。</span></p>

                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="images/airetina-info-d0304.png">
                        </div>
                        <div>
                            <p><span style="font-size:18px">各位旅客，</span></p>

                            <p><span style="font-size:18px">經過了前面的介紹，您是否好奇iLASIK安全、快速、客製化的近視雷射手術完成後會有什麼樣的效果呢？</span></p>
                            
                            <p><span style="font-size:18px">回程的路上，讓我們一起來瞧瞧吧！</span></p>
                            
                            <p><span style="font-size:18px">同樣是1.0的視力，iLASIK客製化療程能帶給我們的是更清晰、更高畫質的<strong>高解析視覺享受</strong>。</span></p>
                            
                            <p><span style="font-size:18px">您心動了嗎？</span></p>               

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height:750px;overflow:hidden;">
                <div class="last">
                    <a href="#4" style="background-image:url(images/airetina-button04.png);width:161px;"></a>
                </div>
                <div style="color:#FFFFFF;text-align:center;margin-top:89px;">
                    <div style="width:100%;position:absolute;top:179px;">
                        <div style="width:560px;margin:0 auto;position:relative;">
                            <p><span style="font-size:18px">親愛的旅客您好，地球站到了！</span></p>
                            
                            <p>&nbsp;</p>
                            
                            <p><span style="font-size:18px">瑞典娜與視保眼科全體員工感謝您的搭乘，<br />
                            離開前請不要忘了您隨身攜帶的物品，</span><br />
                            <span style="font-size:18px">也請記得<strong>領取您的登機證</strong>做紀念唷～</span></p>
                            
                            <p>&nbsp;</p>
                            
                            <p><span style="font-size:18px">如果有任何問題歡迎隨時來信詢問，也再次</span><br />
                            <span style="font-size:18px">感謝您的參與，我們下次再見！</span></p>       
                        </div>
                    </div>
                    <div id="ticket" style="display:none;background-image:url(images/airetina-ticket.png);width:560px;height:362px;margin-left:auto;margin-right:auto;position:relative;">
                        <input id="name" type="text" />
                        <input id="year" type="text" style="top:41px;left:400px;width:110px;" />
                        <input id="email" type="text" style="top:80px;left:235px;width:275px;" />
                        <div style="display:inline-block;position:absolute;top:167px;left:232px;">
                            <input id="demo_box_1" class="css-checkbox" type="checkbox" checked="true" value="1" />
                            <label for="demo_box_1" name="demo_lbl_1" class="css-label"></label>
                        </div>
                        <!-- Checkbox powered by CssCheckbox.com -->
                        
                        <div style="display:inline-block;position:absolute;top:207px;left:232px;">
                            <input id="demo_box_2" class="css-checkbox" type="checkbox" value="0" />
                            <label for="demo_box_2" name="demo_lbl_2" class="css-label"></label>
                        </div>
                        <!-- Checkbox powered by CssCheckbox.com -->
                        
                        <div style="display:inline-block;position:absolute;top:251px;left:232px;">
                            <input id="demo_box_3" class="css-checkbox" type="checkbox" value="-1" />
                            <label for="demo_box_3" name="demo_lbl_3" class="css-label"></label>
                        </div>
                        <!-- Checkbox powered by CssCheckbox.com -->
                        <input id="lefteye" type="text" style="top:237px;left:323px;width:54px;" />
                        <input id="righteye" type="text" style="top:237px;left:440px;width:54px;" />
                    </div>
                    <div id="retina-submit" class="animate-button" style="top:154px;position:absolute;width:146px;height:158px;margin-top:155px;margin-left:691px;background-image:url(images/retina-submit.png);background-repeat:no-repeat;cursor:pointer;"></div>
                    <div id="model" style="background-image:url(images/airetina-ticketmachine-back.png);width:1000px;height:189px;position:absolute;bottom:0px;">
                        <div id="small-ticket" style="background-image:url(images/airetina-ticket-small.png);width:58px;height:105px;margin:0 auto;">
                        </div>
                        <div id="body" style="background-image:url(images/airetina-ticketmachine-front.png);width:1000px;height:189px;position:absolute;top:0;">
                        </div>
                    </div>
                </div>
                    <img src="images/airetina-planet.png" id="earth" style="position:absolute;bottom:-164px;z-index:-1;">
            </div>
        </div> 
        <!-- Scripts -->
        <script type="text/javascript" src="javascripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="javascripts/jquery-ui-1.10.2.custom.min.js"></script>
        <script type="text/javascript" src="javascripts/jquery.easing.min.js"></script>
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
        <script type="text/javascript" src="javascripts/jquery.slides.min.js"></script>
        <script type="text/javascript" src="javascripts/index.js"></script>
        <script type="text/javascript" src="javascripts/jquery.mangabox.min.js"></script>
    </body>
</html>
